@font-face {
  font-family: 'Roboto Slab';
  src: url('/assets/fonts/RobotoSlab-Bold.woff2') format('woff2');
  font-weight: bold;  
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('/assets/fonts/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: normal;  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: 'Roboto Slab';
  color: #101010;  
}

html {
  scroll-behavior: smooth; 
}

.section {
  padding: 40px 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #101010;
}

.container {  
  max-width: 1440px;  
  margin: 0 auto;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 22px; 
  font-weight: normal; 
}

.header {
  background-color: #DC5E35;  
}

.nav-link a{  
  text-decoration: none;  
  padding: 0 20px;
  line-height: 50px;  
  color: #fff; 
}

.nav-link a:hover {
  content:'';
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 0, .2);  
  color: 	#A52A2A;
  transition: .3s;
}

.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;  
}

.contacts {
  display: flex;
  justify-content: space-around;  
  align-items: center; 
  border-bottom: 7px solid #DC5E35;
  border-radius: 5%;  
  justify-content: flex-start;
}

.image-wrap {
  display: flex;
  justify-content: center;
  width: 50%;  
}

.contacts-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid #101010;
}

.contacts-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;   
}
.contacts-title:after {  
  content: '';  
  display: block;
  height: 3px;
  background: blue;
}

.contacts-subtitle {
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 22px;
  line-height: 22px; 
  font-weight: normal;  
}

.pers {
  display: flex;
  border-bottom: 7px solid #DC5E35;
  border-radius: 5%;
}

.personal-link {
  font-size: 18px;
  display: block;
  text-decoration: none;  
}

.data-img {
  display: block;
  margin-right: 20px;
}

.data-link:not(:last-child) {  
  display: flex;
  align-items: center;  
  margin-bottom: 14px;
}

.personal-link:hover {
  color: blue;  
  transition: .3s;
}

.pers-qualities__text {   
  margin-bottom: 20px;
}

.pers__desc {  
  padding: 0 20px;  
  width: 50%;
  text-align: justify;   
}

.skills-list {
  padding: 0 20px;  
}

.skills-list li {
  margin-bottom: 6px;
}